@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    --color__violet-100: #d8c9f4;
    /* Color de burbuja de nav-items hover*/

    --color__violet-500: #54366e;
    /* Font color nav-items hover */

    --color__violet-700: #733ee2;
    /* Marco de "Espacio Nave" */

    --color__violet-600: #652bdf;
    /* Color de Forndo de Button para Login */
    /* Color para el "circle-img" */

    --color__font-nav: #2b2b2b;
    /* Font-Nav */

    --color__font-shadow: #daaa74;
    /* Sombreado Font-Nav */

    --color__bg-main: #ffffff;
    /* Background Color */

    --color__circle-one: #9d9d9e;
    /* Borde de Icono que marca la imagenes "circle-img" */
}

ul,
ol {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header y Carrusel */

header {
    width: 100%;
    background-color: var(--color__bg-main);
    padding: 16px;
}

.header__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    max-width: 1022px;
    margin: 0 auto;
    gap: 12px;
}

.logo-desktop {
    display: block;
    max-width: 100%;
    width: 160px;
}

.logo-movil {
    display: none;
}

.header__list-content {
    display: flex;
    align-content: center;
    justify-content: center;
}

.header__list-box {
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 42px;
}

.header__list-box a {
    text-decoration: none;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--color__font-nav);
    font-weight: 600;
}

.header__list-box a:hover {
    background-color: var(--color__violet-100);
}

.header__button-box {
    display: flex;
    gap: 20px;
    align-content: center;
}

.divider-line-h {
    display: block;
    width: 1px;
    height: 40px;
    background-color: #bebebe;
}


.header__button-one {
    text-decoration: none;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    color: var(--color__violet-700);
    background-color: transparent;
    border: 1px solid var(--color__violet-700)
}


.header__button-two {
    text-decoration: none;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    background-color: var(--color__violet-600);
}

.divider-line-w {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #bebebe;
}

.main__content {
    width: 100%;
    max-width: 1022px;
    margin: 0 auto;
    padding: 0 20px;
}

.main__carousel {
    display: flex;
}

.main__carousel-box {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 24px;
    height: 400px;
    max-width: 520px;
    font-size: 16px;
    gap: 24px;
    padding-left: 50px;

}

.carousel_1 {
    height: 400px;
    width: 1100px;
    box-sizing: border-box;
}

.carousel__title-one {
    font-size: 48px;
    color: white;
    font-weight: 600px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.carousel__title-two {
    font-size: 24px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.main__carousel-button-one {
    text-decoration: none;
    color: white;
    background-color: var(--color__violet-600);
    border-radius: 50px;
    padding: 10px 32px;
    font-weight: bold;
}

.main__carousel-button-two {
    text-decoration: none;
    color: var(--color__violet-600);
    background-color: white;
    border-color: #652bdf;
    border-radius: 50px;
    padding: 10px 32px;
    font-weight: bold;
}

.main__carousel-indicator{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    margin: 22px 0px;
    height: 24px;
}

.circle {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--color__violet-600);
    border: 2px solid var(--color__bg-main);
    box-shadow: 0 0 0 1px var(--color__circle-one);
}