@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    --color__violet-100: #d8c9f4;
    /* Color de burbuja de nav-items hover*/

    --color__violet-500: #54366e;
    /* Font color nav-items hover */

    --color__violet-700: #733ee2;
    /* Marco de "Espacio Nave" */

    --color__violet-600: #652bdf;
    /* Color de Forndo de Button para Login */
    /* Color para el "circle-img" */

    --color__font-nav: #2b2b2b;
    /* Font-Nav */

    --color__violet-750: #5c2d91;

    --color__violet-800: #4e2855;

    --color__violet-750: #5c2d91;

    --color__violet-800: #4e2855;

    --color__violet-900: #4d244d;

    --color__violet-950: #360c72;

    --color__font-nav: #2b2b2b;
    /* Font-Nav */

    --color__font-shadow: #daaa74;
    /* Sombreado Font-Nav */

    --color__bg-main: #ffffff;
    /* Background Color */

    --color__circle-one: #9d9d9e;
    /* Borde de Icono que marca la imagenes "circle-img" */
}

ul,
ol {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header y Carrusel */
/*  Header */
header {
    width: 100%;
    background-color: var(--color__bg-main);
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 3;
}

/* Contenido de todo el Header */
.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 0 auto;
    max-width: 1022px;
    width: 100%;
}

/* Logo del Header */
.logo-desktop {
    display: block;
    max-width: 100%;
    width: 140px;
}

.logo-movil {
    display: none;
}

/* Barra de navegacion del header */
.header__list-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

/* Lista de la barra de navegacion */
.header__list-box {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.header__list-box a {
    text-decoration: none;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--color__font-nav);
    font-weight: 600;
    padding: 6px 10px;
}

.header__list-box a:hover {
    background-color: var(--color__violet-100);
    border-radius: 50px;
}

/* Botones del header */
.header__button-box {
    display: flex;
    gap: 20px;
    align-content: center;
}

/* Linea Vertical */
.divider-line-h {
    display: block;
    width: 1px;
    height: 40px;
    background-color: #bebebe;
}

/* Boton: Espacio Nave */
.header__button-one {
    text-decoration: none;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    color: var(--color__violet-700);
    background-color: transparent;
    border: 1px solid var(--color__violet-700);
    text-decoration: none;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    color: var(--color__violet-700);
    background-color: transparent;
    border: 1px solid var(--color__violet-700);
}

.header__button-one:hover {
    background-color: var(--color__violet-100);
    color: var(--color__violet-800);
    border: 1px solid var(--color__violet-800);
}

/* Boton: Entrar a Nave */
.header__button-two {
    text-decoration: none;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    background-color: var(--color__violet-600);
}

.header__button-two:hover {
    background-color: var(--color__violet-100);
    color: var(--color__violet-800);
    border: 1px solid var(--color__violet-800);
}

.header__content i {
    display: none;
}

/* Linea horizontal */
.divider-line-w {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #bebebe;
}

/* Caja del Contenido Principal */
.main__content {
    width: 100%;
    max-width: 1022px;
    margin: 0 auto;
    padding: 20px 20px;
}

/* Contenedor del carrusel de fotos */
.main__carousel {
    display: flex;
    position: relative;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* Caja dentro del carrusel */
.main__carousel-box {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 24px;
    height: 420px;
    max-width: 550px;
    font-size: 16px;
    gap: 24px;
    padding-left: 50px;
}

/* Imagen 1 */
.carousel_1 {
    height: 400px;
    width: 100%;
    box-sizing: border-box;
    width: 100%;
    max-width: 1022px;
    margin: 0 auto;
    padding: 20px 20px;
}

/* Titulo dentro del carrusel */
.carousel__title-one {
    font-size: 48px;
    color: white;
    font-weight: 600px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* Subtitulo dentro del carrusel */
.carousel__title-two {
    font-size: 24px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* Boton uno del carrusel */
.main__carousel-button-one {
    text-decoration: none;
    color: white;
    background-color: var(--color__violet-600);
    border-radius: 50px;
    padding: 10px 32px;
    font-weight: bold;
}

.main__carousel-button-one:hover {
    background-color: var(--color__violet-950);
}

/* Boton dos del carrusel */
.main__carousel-button-two {
    text-decoration: none;
    color: var(--color__violet-600);
    background-color: white;
    border-color: #652bdf;
    border-radius: 50px;
    padding: 10px 32px;
    font-weight: bold;
}

.main__carousel-button-two:hover {
    background-color: var(--color__violet-100);
    color: var(--color__violet-950);
}

/* Pie del carrusel (Icons/Buttons) */
.main__carousel-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 22px 0px;
    height: 24px;
}

/* Circulo indicador de imagen (No seleccionada) */
.circle1 {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: gray;
    border: 2px solid gray;
    box-shadow: 0 0 0 1px gray;
}

/* Circulo indicador de imagen (Imagen Actual) */
.circle2 {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--color__violet-600);
    border: 2px solid var(--color__bg-main);
    box-shadow: 0 0 0 1px var(--color__circle-one);
}

/* Contenedor del bloque de Bienvenida */
.main__welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

/* Caja del titulo */
.welcome__title {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 25px;
    font-weight: 700;
    margin: 8px 0;
    text-align: center;
    width: 100%;
}

/* Caja de lista */
.welcome__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 6px;
    padding: 0;
}

/* Lista */
.welcome__list-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    margin-top: 12px;
    width: 100%;
    padding: 0;
    background-color: white;
    box-sizing: border-box;
    padding-left: 0;
}

.welcome__list-items li {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 12px;
    padding: 24px;
    gap: 32px;
    flex: 1;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* Items de Lista */
.welcome__list-items-acreditar {
    width: 62px;
    display: flex;
    align-content: flex-start;
}

.welcome__list-items-ganancia {
    width: 62px;
    display: flex;
    align-content: flex-start;
}

.welcome__list-items-venta {
    width: 62px;
    display: flex;
    align-content: flex-start;
}

/* Capsula final de contenido de Bienvenida */
.welcome__footer {
    width: 100%;
    max-width: 950px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 32px;
    background-color: var(--color__violet-950);
    border-radius: 40px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* Contenedor de Capsula */
.welcome__footer-content {
    display: flex;
    flex-direction: column;
    max-width: 670px;
    width: auto;
    gap: 20px;
    padding-left: 30px;
}

/* Titulo de la Capsula */
.welcome__footer-title {
    color: white;
    font-size: 30px;
}

/* Subtitulo de la Capsula */
.welcome__footer-subtitle {
    color: white;
    font-size: 18px;
}

/* Boton de la capsula */
.welcome__footer-button {
    text-decoration: none;
    color: var(--color__violet-700);
    width: 192px;
    height: 46px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
}

.welcome__footer-button:hover {
    background-color: #121212;
    color: var(--color__violet-100);
}

/* Contenedor de Medios de Cobro */
.main__pay {
    display: block;
    padding-top: 40px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    width: 100%;
}

/* Contenedor de los titulos de la seccion */
.main__pay-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Caja del titulo */
.main__pay-title {
    font-size: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

/* Caja de subtitulo */
.main__pay-subtitle {
    font-size: 16px;
    display: flex;
    justify-content: center;
}

/* Contenedor de las listas */
.main__pay-box {
    display: flex;
}

/* Caja de las listas */
.pay__content {
    display: flex;
    flex-direction: column;
}

.pay__content li {
    width: 100%;
}

/* Caja Lista 1 */
.pay__content-list-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Lista 1 */
.pay__list-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 511px;
    width: 100%;
    gap: 32px;
}

/* Item 1 */
.pay__item-one {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    background-color: var(--color__violet-600);
}

.pay__item-one:hover {
    background-color: var(--color__violet-950);
}

/* Imagen 1 */
.pay__qr {
    max-width: 511px;
    width: auto;
    display: flex;
    align-items: flex-end;
}


/* Caja lista 2 */
.pay__content-list-two {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* Lista 2 */
.pay__list-two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 511px;
    width: auto;
    gap: 32px;
}

/* Item 2 */
.pay__item-two {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    background-color: var(--color__violet-600);
}

.pay__item-two:hover {
    background-color: var(--color__violet-950);
}

/* Imagen 2 */
.pay__terminal {
    max-width: 511px;
    width: 100%;
}

/* Contenedor lista 3 */
.pay__content-list-three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Lista 3 */
.pay__list-three {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 511px;
    width: 100%;
    gap: 32px;
}

/* Item 3 */
.pay__item-three {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    background-color: var(--color__violet-600);
}

.pay__item-three:hover {
    background-color: var(--color__violet-950);
}

/* Imagen 3 */
.pay__link {
    max-width: 511px;
    width: 100%;
}

/* Contenedor lista 4 */
.pay__content-list-four {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* Lista 4 */
.pay__list-four {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 511px;
    width: 100%;
    gap: 32px;
}

/* Item 4 */
.pay__item-four {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    background-color: var(--color__violet-600);
}

.pay__item-four:hover {
    background-color: var(--color__violet-950);
}

/* Imagen 4 */
.pay__tienda {
    max-width: 511px;
    width: 100%;
}

/* Footer */
.main__footer {
    width: 100%;
}

/* Contenito de todo el footer */
.footer__content {
    display: flex;
    flex-direction: column;
    margin: 0px 105px;
    padding: 0px 0px 32px;
}

/* Logo del Footer */
.footer__logo {
    width: 46px;
    display: flex;
    align-self: flex-start;
    margin-bottom: 12px;
}

/* Todos los bloques de listas */
.footer__list-mainbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.footer__list-mainbox a:hover {
    color: var(--color__violet-750);
    text-decoration: underline;
    font-weight: 400;
}

/* Bloque: Nave */
.footer__list-mainbox-nave {
    display: flex;
    flex-direction: column;
}

.footer__list-mainbox-nave li {
    margin: 8px 0;
}

.footer__list-mainbox-nave>span {
    font-weight: 700;
}

.footer__items-nave a {
    text-decoration: none;
    color: #121212;
}

/* Bloque: Medios */
.footer__list-mainbox-medios {
    display: flex;
    flex-direction: column;
}

.footer__list-mainbox-medios li {
    margin: 8px 0;
}

.footer__list-mainbox-medios>span {
    font-weight: 700;
}

.footer__items-medios a {
    text-decoration: none;
    color: #121212;
}

/* Bloque: Beneficios */
.footer__list-mainbox-beneficios {
    display: flex;
    flex-direction: column;
}

.footer__list-mainbox-beneficios li {
    margin: 8px 0;
}

.footer__list-mainbox-beneficios>span {
    font-weight: 700;
}

.footer__items-beneficios a {
    text-decoration: none;
    color: #121212;
}

/* Bloque: Info */
.footer__list-mainbox-info {
    display: flex;
    flex-direction: column;
}

.footer__list-mainbox-info li {
    margin: 8px 0;
}

.footer__list-mainbox-info>span {
    font-weight: 700;
}

.footer__items-info a {
    text-decoration: none;
    color: #121212;
}

.footer__contact {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__contact>span {
    font-weight: 700;
}

.footer__contact-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__contact-list a {
    color: var(--color__violet-750);
}

@media screen and (max-width: 1024px) {
    .logo-desktop {
        display: none;
    }

    .header__list-content {
        display: none;
    }

    .header__button-box {
        display: none;
    }

    .divider-line-h {
        display: none;
    }


    .header__content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 72px;
        flex-wrap: nowrap;
    }

    .header__content i {
        display: block;
        order: -1;
        position: absolute;
        left: 50px;
        width: 42px;
        height: auto;
    }

    .logo-movil {
        display: block;
        width: 42px;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .main__carousel {
        display: block;
        flex-direction: column;
        align-content: center;
    }

    .carousel_1 {
        width: 100%;
        max-width: 540px;
        max-height: 194px;
    }

    .main__carousel-box {
        position: static;
        text-align: center;
        align-items: center;
        max-width: 100%;
        height: auto;
        padding-left: 0px;
    }

    .carousel__title-one {
        font-size: 32px;
        color: var(--color__font-nav);
    }

    .carousel__title-two {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }

    .carousel__box-button {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 18px;
    }

    .main__welcome{
        margin-top: 70px;
    }

    .welcome__title{
        font-size: 20px;
    }

    .welcome__list{
        margin: 0px;
    }

    .welcome__list-items{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .welcome__list-items li{
        align-items: flex-start;
        text-align: left;
        padding: 10px;
    }

    .welcome__list-items h2{
        font-size: 16px;
    }

    .welcome__list-items p{
        font-size: 12px;
    }

    .welcome__footer{
        max-width: 492px;
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .welcome__footer-content h2{
        font-size: 24px;
    }

    .welcome__footer-content span{
        font-size: 18px;
    }

    .welcome__footer-button{
        width: 100%;
    }

    .main__pay {
        display: flex;
        flex-direction: column;
    }
    
    .main__pay-header h2{
        font-size: 30px;
    }

    .main__pay-header p{
        font-size: 14px;
    }

    .pay__content li{
        display: flex;
        flex-direction: column-reverse;
    }

    .main__footer{
        margin-top: 50px;
    }

    .footer__content {
        margin: 0px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    .footer__logo {
        display: flex;
        align-self: center;
        margin-bottom: 50px;
    }
    
    .footer__list-mainbox{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 40px 20px;
    }

    .footer__list-mainbox > li{
        display: flex;
        flex-direction: column;
        width: calc(50% - 10px);
    }

   
}